/* Глобальные стили и обнуление */
body {
	margin: 0;
}
.container {
	margin: 0 5%;
}
a {
	text-decoration: none;
	color: black;
}
h1 {
	font-family: Kanit;
	font-size: 54px;
	font-weight: 700;
	line-height: 64px;
	letter-spacing: 0em;
}
p {
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
}

/* Основной контент */

header {
	/* display: flex; */
	background-color: #F1F1F1;
}
.header_nav {
	display: flex;
	justify-content: space-between;
}
.header_logo_container {
	display: flex;
	align-items: center;
	height: 62px;
	width: 100%;
}
.header_logo_text {
	margin-left: 10px;
	font-family: 'Kanit', sans-serif;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.04em;
	text-transform: capitalize;
}
.header_nav_container {
	display: flex;
	align-items: center;
}
.nav_text {
	margin-left: 40px;
}
.button_text {
	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	white-space: nowrap;
	border: none;
	border-radius: 100px;
}
.nav_button {
	padding: 10px 12px;
	background: rgba(8, 30, 52, 0.12);
}
.header_content {
	display: flex;
	justify-content: space-between;
	padding: 88px 0px 100px 0px;
}
.header_text {
	width: 495px;
	margin-bottom: 32px;
}
.header_button {
	margin-top: 16px;
	padding: 16px 24px;
	background: #712FFF;
	color: white;
}
.header_content_img {
	border-radius: 32px;
	position: relative;
}
.dollar_img {
	position: absolute;
	top: 0px;
	left: 212px;
}
.fire_img {
	position: absolute;
	top: 213px;
    left: 438px;
}