/* Глобальные стили и обнуление */
body {
	margin: 0;
	background: #F1F1F1;
}
.container {
	margin: 0 5%;
}
a {
	text-decoration: none;
	color: black;
}
h1 {
	font-family: Kanit;
	font-size: 54px;
	font-weight: 700;
	line-height: 64px;
	letter-spacing: 0em;
}
p {
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
}

/* Основной контент */
/* секция header */
header {
	background-color: #F1F1F1;
}
.header_nav {
	display: flex;
	justify-content: space-between;
}
.header_logo_container {
	display: flex;
	align-items: center;
	height: 62px;
	width: 100%;
}
.header_logo_text {
	margin-left: 10px;
	font-family: 'Kanit', sans-serif;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.04em;
	text-transform: capitalize;
}
.header_nav_container {
	display: flex;
	align-items: center;
}
.nav_text {
	margin-left: 40px;
}
.button_text {
	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	white-space: nowrap;
	border: none;
	border-radius: 100px;
}
.nav_button {
	padding: 10px 12px;
	background: rgba(8, 30, 52, 0.12);
}
.header_content {
	display: flex;
	justify-content: space-between;
	padding: 88px 0px 100px 0px;
}
.header_text {
	width: 495px;
	margin-bottom: 32px;
}
.header_button {
	margin-top: 16px;
	padding: 16px 24px;
	background: #712FFF;
	color: white;
}
.header_content_img {
	border-radius: 32px;
	position: relative;
}
.dollar_img {
	position: absolute;
	top: 0px;
	left: 212px;
}
.fire_img {
	position: absolute;
	top: 213px;
    left: 438px;
}
/* секция steps */
.steps {
	background: #E1DEE7;
	border-radius: 32px;
}
.main_steps {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 103px;
	padding-bottom: 103px;
}
.main_steps_head {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main_steps_num {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 86px;
}
.steps_head_description {
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
}
.steps_head_title {
	margin-top: 12px;
}
.steps_title {
	margin-top: 48px;
	font-family: Inter;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}
.steps_description {
	margin-top: 24px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}
/* секция find job */
.input_wrap	{
	position: relative;
}
.find_job {
	padding: 100px 0px;
}
.find_job_input {
	width: 619px;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #E1DEE7;
	border-radius: 12px;
	margin-top: 32px;
}
.input_img {
	position: absolute;
	top: 46px;
	left: 13px;
}
input::placeholder {
	padding-left: 49px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	opacity: 0.2;
}
.job_button {
	margin-left: 32px;
}
/* секция cv */
.cv {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}
.cv_image {
	position: relative;
}
.cv_img {
	border-radius: 24px;
	margin-top: 64px;
	margin-bottom: 64px;
}
.cv_img_light {
	position: absolute;
	top: 207px;
    left: 22px;
}
.cv_img_star {
	position: absolute;
	top: 92px;
    left: 214px;
}
.cv_text {
	/* display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center; */
	margin-left: 128px;
}
.cv_button {
	display: flex;
	align-items: center;
	text-align: center;
}
.node_cv {
	margin-right: 8px;
}
/* footer */
footer {
	background: #FFFFFF;
	border-radius: 32px 32px 0px 0px;
}
.footer_text {
	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
}
.footer_text_mrgn {
	margin-left: 40px;
}
.footer_links {
	display: flex;
	list-style-type: none;
	align-items: center;
}
.footer_social_twitter {
	margin-left: 28px;
}
.footer_social_instagram {
	margin-left: 16px;
}
.footer_description_text {
	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	opacity: 0.5;
}
.footer_up {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 42px;
}
.footer_down {
	display: flex;
	justify-content: flex-end;
	padding-top: 52px;
	padding-bottom: 42px;
}
.footer_down_text {
	color: #081E34;

}
.footer_description_text_links {
	text-decoration: underline;
}

@media screen and (max-width: 1200px) {
	.header_content {
		flex-direction: column-reverse;
		align-items: center;
	}
	.header_content_text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.header_text {
		text-align: center;
	}
	.main_steps_num {
		display: flex;
		flex-direction: column;
	}
	.first_step {
		width: 400px;
	}
	.second_step {
		margin-top: 40px;
		width: 400px;
	}
	.third_step {
		margin-top: 40px;
		width: 400px;
	}
	.cv {
		display: flex;
		flex-direction: column;
	}
	.get_start {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.input_wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.job_button {
		margin-top: 32px;
	}
	.cv_text {
		display: flex;
		flex-direction: column;
		margin: auto;
		align-items: center;
	}
	.cv_button {
		margin-bottom: 64px;
	}
	.footer_up {
		display: flex;
		flex-direction: column;
	}
  }
@media screen and (max-width: 700px) {
	:root {
		--size: 100%;
		--aspect-ratio: 1.473809;
		--width: var(--size);
		--height: calc(var(--size) / var(--aspect-ratio));
		--dollar-ratio: 4.4532374;
		--fire-ratio: 4.1824324;
		--light-ratio: 7.1149425;
		--star-ratio: 6.3814432;
	}
	.header_content_img {
		width: var(--width);
		height: var(--height);
	}
	.cv_img {
		width: 100%;
	}
	.dollar_img {
		left: 170px;
		width: calc(var(--width) / var(--dollar-ratio));
	}
	.fire_img {
		top: 186px;
    	left: 381px;
		width: calc(var(--width) / var(--fire-ratio));
	}
	.cv_img_light {
		width: calc(var(--width) / var(--light-ratio));
	}
	.cv_img_star {
		width: calc(var(--width) / var(--star-ratio));
	}
	.header_adaptive {
		display: none;
	}
	.find_job_input {
		width: 400px;
	}
	.header_text {
		width: auto;
	}
	.first_step {
		width: auto;
	}
	.second_step {
		width: auto;
	}
	.third_step {
		width: auto;
	}
}
@media screen and (max-width: 560px) {
	.find_job_input {
		width: 312px;
	}
	.fire_img {
		top: 155px;
    	left: 350px;
	}
}

@media screen and (max-width: 510px) {
	.fire_img {
    	left: 330px;
	}
}

@media screen and (max-width: 480px) {
	.header_content {
		padding-top: 44px;
	}
	.dollar_img {
		left: 110px;
		top: 10px;
	}
	.fire_img {
		top: 112px;
    	left: 225px;
	}
	.adaptive_header {
		font-size: 32px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: center;
		margin-top: 54px;
	}
	.adaptive_p {
		font-size: 14px;
	}
	.header_content {
		padding-bottom: 32px;
	}
	.main_steps {
		padding-top: 54px;
    	padding-bottom: 54px;
	}
	.find_job {
		padding: 54px 0;
	}
	.get_start {
		text-align: center;
	}
	.adaptive_find_h1 {
		font-size: 24px;
	}
	.adaptive_find_p {
		font-size: 14px;
		font-weight: 500;
	}
	.adaptive_find_p br {
		display: none;
	}
	.cv_img_light {
		top: 156px;
    	left: 22px;
	}
	.cv_img_star {
		top: 78px;
    	left: 153px;
	}
	.cv_image {
		margin-bottom: 108px;
	}
	.cv_text {
		align-items: flex-start;
	}
	.footer_text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.footer_up {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.footer_links {
		flex-direction: column;
		align-items: flex-start;
	}
	.footer_text_mrgn {
		margin-left: 0px;
		margin-top: 36px;
	}
	.footer_social_twitter {
		margin-top: 26px;
		margin-left: 0px;
	}
	.footer_social_instagram {
		margin-top: 16px;
		margin-left: 0px;
	}
	.footer_description_text {
		margin-top: 40px;
		text-align: left;
	}
	.footer_down {
		padding-top: 40px;
		padding-bottom: 32px;
	}
}